
  .subscribe-button{
    background-color: rgb(184, 2, 2);
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.15s;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .subscribe-button:hover{
    opacity: 0.4;
  }
  .join-button{
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: solid;
    border-color: rgb(35, 173, 248);
    border-radius: 2px;
    border-width: 1px;
    color: rgb(35, 173, 248);
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.5s,
      color 0.5s;
  }
  .join-button:hover{
    background-color: rgb(35, 173, 248);
    color: white;
  }
  .tweet-button{
    background-color: rgb(35, 173, 248);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
    transition: box-shadow 0.15;
  }

  .tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  }
